
@{
    ViewData["Title"] = "server";
}

<main class="content">
    <h1>SERVER</h1>
    <div class="card">
        <div class="card-body">
            <form asp-action="RestartServer">
                <button class="btn btn-primary btn-lg">Restart</button>
            </form>
            
        </div>
    </div>
</main>
