@model AspTalbrat.Models.Product

@{
    ViewData["Title"] = "Edit";
}



<main class="content">
    <h1>Edit</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" type="number" step=".01" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="d-block mb-1"></label>
                            <input asp-for="ImageUrl" class="form-control"  />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="mt-1">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

