<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspTalbrat</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <div class="wrapper">
        <partial name="_SideBarPartial" />
		<div class="main">
            <partial name="_NavigationPartial" />
            @RenderBody()
		</div>
	</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



