
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand navbar-light navbar-bg">
	<a class="sidebar-toggle d-flex">
		<i class="hamburger align-self-center"></i>
	</a>
	@if (SignInManager.IsSignedIn(User))
{
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
					<span class="text-dark">
							@User.Identity?.Name!
					</span>
				</a>

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
					
					<span class="text-dark">
							@User.Identity?.Name
					</span>
				</a>

				<div class="dropdown-menu dropdown-menu-right">
					
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" >
							<button type="submit" class="dropdown-item">Logout</button>
						</form>
					
				</div>
			</li>
		</ul>
		</div>
	}
	else
	{
		<div class="navbar-nav navbar-align">
			<a class="text-secondary" asp-area="Identity" asp-page="/Account/Login" style="text-decoration:none">Login</a>
		</div>
	}
</nav>

