@model AspTalbrat.Models.Avance

@{
    ViewData["Title"] = "Edit";
}

<main class="content">
    <div class="card">
        <div class="card-body">
            <h1>Edit</h1>

            <h4>Avance</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Date" class="control-label"></label>
                            <input type="date" asp-for="Date" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Montant" class="control-label"></label>
                            <input asp-for="Montant" class="form-control" />
                            <span asp-validation-for="Montant" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Note" class="control-label"></label>
                            <input asp-for="Note" class="form-control" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
        
                       
                        <div class="mb-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
